/* ...........................................
   this is for the large screen 
............................................    */

@media (max-width: 1250px) {
  /* this is for the home section */
  .home .home-banner-text {
    transform: translate(-90%, -50%);
  }
}

/* ...........................................
   this is for the extra large screen 
............................................    */

@media (max-width: 1030px) {
  /* home section */
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 65% center;
    min-height: 550px;
  }
  .home .home-banner-text {
    transform: translate(-80%, -50%);
  }
  /* this is for the offers section */
  .offers .offer-box .offer-text .big-text {
    font-size: 3.2rem;
  }
  .offers .offer-box .offer-text .title-text {
    font-size: 1.3rem;
    font-weight: 400;
  }
  /* this is for the products section */
  .products .headline h2 {
    font-size: 2.5rem;
  }
  .products .up-to-text h2 {
    font-size: 1.4rem;
  }
  /* this is for the special section */
  .special .head-text .time-container li {
    padding: 1.5rem 1rem;
  }
}

/* ...........................................
   this is for the large screen 
............................................    */

@media (max-width: 991px) {
  /* home section */
  .home .home-banner-text {
    transform: translate(-66%, -50%);
  }
  /* this is for the offers section */
  .offers .offer-box .offer-text .big-text {
    font-size: 3rem;
  }
  .offers .offer-box .offer-text .title-text {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .offers .offer-box .offer-text .btn-outline {
    padding: 0.5rem 1rem;
  }
  /* this is  for the products section */
  .products .headline h2 {
    font-size: 2.1rem;
  }
  .product-list .card-btn {
    font-size: 1.2rem;
  }
  .products .up-to-text h2 {
    font-size: 1.2rem;
  }
  /* this is for the special section */
  .special .head-text {
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  /* this is for the testimonial section */
}
/* ...........................................
   this is for the medium screen 
............................................    */

@media (max-width: 767px) {
  /* navbar logo */
  .navbar img {
    max-width: 6rem;
    max-height: 3rem;
  }

  /* home section */
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 50% center;
    min-height: 450px;
  }
  .home .home-banner-text {
    transform: translate(-50%, -50%);
  }
  .home .home-banner-text h1 {
    font-size: 4rem;
  }
  .home .home-banner-text h2 {
    font-size: 1.2rem;
  }
  /* this is for the offers section */
  .offers .offer-box .offer-text .big-text {
    font-size: 2.5rem;
  }
  .offers .offer-box .offer-text .title-text {
    font-size: 1rem;
    font-weight: 300;
  }
  /* this is for the products section */
  .products .product-list h4 {
    font-size: 1.2rem;
  }
  .products .product-name .amount {
    font-size: 1.1rem;
  }
  .products .headline h2 {
    font-size: 1.8rem;
  }
  .product-list .card-btn {
    font-size: 1rem;
  }
  .products .up-to-text h2 {
    font-size: 1rem;
  }
  /* this is for the special section */
  .special {
    padding: 4rem 0;
  }
  .special .head-text .time-container li {
    padding: 1rem;
    width: 20%;
  }
  /* this is for the testimonial section */
  .testimonial .testimonial-wrapper {
    padding: 1rem;
  }
  .testimonial h2 {
    margin-bottom: 2rem;
  }
  .testimonial .carousel-control-next,
  .testimonial .carousel-control-prev {
    display: none;
  }
  /* this is for the footer section */
  .copyright p,
  .copyright a {
    font-size: 0.75rem;
  }
}
/* ...........................................
   this is for the small screen 
............................................  
  */

@media (max-width: 330px) {
  /* custome css */
  .main-btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.9rem;
  }
  /* home section */
  .home .home-banner-text h1 {
    font-size: 3rem;
  }
  .home .home-banner-text h2 {
    font-size: 1rem;
  }
  /* this is products section */
  .products .headline h2 {
    font-size: 1.2rem;
  }
  .product-list .product-image .sale {
    padding: 0.125rem 0.4rem;
  }
  .products .up-to-text h2 {
    font-size: 0.6rem;
  }
  /* this is for the special section */
  .special .head-text .time-container li {
    padding: 0.5rem 0.5rem;
    font-size: 0.7rem;
    width: 18%;
  }
  .special .special-img .sale {
    padding: 0.135rem 0.275rem;
  }
}
