@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --light-white: #f5f5f5;
  --black: #000000;
  --red: #f63440;
  --primary-text: "Poppins", sans-serif;
  --gray: #b5c0d0;
  --dark-gray: #777;
  --dark-grey: #9cafaa;
}
/* ...................
   custome css
..................    */
body {
  font-family: var(--primary-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  background-color: var(--white);
  overflow-x: hidden;
  color: var(--black);
}
a,
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
}

.main-btn {
  background-color: var(--red);
  border-color: var(--red);
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  border-radius: 0.225rem;
}
.btn-outline {
  background: transparent;
  border-color: var(--white);
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  color: var(--red);
  border-radius: 0.325rem;
  color: var(--white);
}
.btn-outline:hover {
  background-color: var(--red);
  border-color: var(--red);
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  color: var(--white);
}
.main-btn:hover {
  color: var(--red);
  background: transparent;
  border-color: var(--red);
}
.wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* ......................
     navbar
......................      */
#header .fixed-top {
  box-shadow: 0 0.175rem 0.675rem rgb(0 0 0 /5%);
}

#header .navbar-nav .nav-item .nav-link {
  color: var(--black);
  padding: 0.5rem 1rem;
  text-align: center;
}
#header .navbar-nav .nav-item .nav-link:hover {
  color: var(--red);
}
#header .navbar .navbar-toggler {
  box-shadow: none;
  border: none;
  font-weight: 600;
}

/* ..............................................
             home section
...............................................*/

.home .home-banner-1,
.home .home-banner-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  min-height: 650px;
  position: relative;
}

.home .home-banner-1 {
  background-image: url(images/slide1.jpg);
}
.home .home-banner-2 {
  background-image: url(images/slide2.jpg);
}

.home .slider-icon {
  color: var(--red);
  font-size: 3rem;
  font-weight: 600;
}

.home .carousel-indicators button {
  background-color: var(--red);
  opacity: 0.5;
}
.home .carousel-indicators button.active {
  opacity: 1;
}
.home .home-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}
.home .home-banner-text h1 {
  font-size: 6rem;
}

/* ..............................................
             Offers section
...............................................*/

.offers {
  padding-top: 8.75rem;
}
.offers .offer-box .offer-image::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  width: 50%;
  display: block;
  content: "";
  height: 100%;
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}

.offers .offer-box .offer-image img {
  transform: scale(1.02);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offers .offer-box:hover .offer-image::before {
  animation: effect_shine 1s ease;
  opacity: 1;
}
@keyframes effect_shine {
  100% {
    left: 150%;
  }
}
.offers .offer-box .img-overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.offers .offer-box .info-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;
  animation: all 1s ease-in;
}
.offers .offer-box .offer-text .big-text {
  font-size: 4rem;
  color: var(--white);
  line-height: 1;
}

.offers .offer-box .offer-text .title-text {
  font-size: 1.5rem;
  color: var(--white);
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
}

/* ..............................................
             products section
...............................................*/
.products {
  padding-top: 8.75rem;
}
.products .headline h2 {
  font-size: 3rem;
}
.headline h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  height: 0.175rem;
  background-color: var(--red);
  transform: translate(-50%, -50%);
  border-radius: 0.625rem;
}

.products a {
  text-decoration: none;
  color: var(--black);
}
.products .product-list .product-image img {
  transition: all 500ms ease-in-out;
}

.product-list .product-image .second-img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.product-list .product-image:hover .second-img {
  opacity: 1;
}
.product-list .product-image .sale {
  position: absolute;
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.375rem;
  top: 1.188rem;
  left: 1rem;
  z-index: 3;
  padding: 0.175rem 0.675rem;
  font-size: 1rem;
  letter-spacing: 1px;
}
.products .product-name .amount {
  font-size: 1.3rem;
  color: var(--red);
}
.products .product-name .amount:hover {
  color: blue;
}
.products .product-name .amount del {
  color: var(--gray);
  font-size: 1rem;
}
.products .stars {
  color: var(--black);
}
.products .stars i.active {
  color: var(--red);
}
.products .product-list h4 {
  font-weight: 500;
  color: var(--red);
  font-size: 1.5rem;
}
.products h4:hover {
  color: green;
}
.product-list .card-btn {
  background: transparent;
  color: var(--black);
  border: none;
  outline: none;
  font-size: 1.3rem;
}
.product-list .card-btn:hover {
  color: var(--red);
}
.products .up-to-off {
  position: relative;
}
.products .up-to-off::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  cursor: pointer;
  transition: 0.5s;
}
.products .up-to-off img {
  transition: 0.5s;
  object-fit: cover;
}
.products .up-to-off:hover img {
  transform: scale(1.1);
}
.products .up-to-text h2 {
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}
/* ..............................................
             special  section
...............................................*/
.special {
  padding: 6rem 0;
  background: var(--light-white);
}
.special .head-text {
  padding: 4.375rem 0;
}
.special .head-text p {
  color: var(--dark-grey);
  font-weight: 300;
  line-height: 1.875rem;
}
.special .head-text .time-container {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 1.875rem;
}
.special .head-text .time-container li {
  display: inline-block;
  margin: 0.313rem;
  padding: 2rem 1rem;
  font-size: 0.875rem;
  /* font-weight: bold; */
  text-align: center;
  background-color: var(--white);
  border-radius: 0.313rem;
  width: 15%;
  border-radius: 0.313rem;
}
.special .head-text .price {
  font-weight: 500;
}
.special .head-text .price:hover {
  color: var(--red);
}
.special .head-text .price del {
  color: var(--gray);
}
.special .special-img .sale {
  position: absolute;
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.375rem;
  top: 1.188rem;
  left: 1rem;
  z-index: 3;
  padding: 0.175rem 0.675rem;
  font-size: 1rem;
  letter-spacing: 1px;
}
/* ..............................................
             testimonial  section
...............................................*/
.testimonial {
  padding: 5rem 0 8rem 0;
}
.testimonial .testimonial-wrapper {
  box-shadow: 0 0 0.675rem 0 rgb(0 0 0 /5%);
  background: var(--white);
  margin: auto;
  padding: 1rem 5rem;
  border: 0.175rem solid var(--white);
  border-radius: 0.675rem;
}
.testimonial .testimonial-wrapper img {
  height: 5rem;
  width: 5rem;
  margin: 1.25rem auto;
  object-fit: cover;
  border-radius: 100%;
  background-color: var(--white);
  border: 5px solid var(--black);
}

.testimonial .testimonial-wrapper span {
  color: var(--dark-gray);
  font-size: 1rem;
  display: block;
  margin: 1rem 0;
  text-transform: uppercase;
}
.testimonial .testimonial-wrapper p {
  font-size: 0.875rem;
  color: var(--dark-gray);
}

.testimonial .carousel-indicators button {
  background-color: var(--red);
  opacity: 0.5;
  height: 0.205rem;
}
.testimonial .carousel-indicators button:hover,
.testimonial .carousel-indicators button.active {
  opacity: 1;
}
.testimonial .carousel-indicators {
  bottom: -3rem;
}
.testimonial .slider-icon {
  color: var(--red);
  font-size: 3rem;
  font-weight: 600;
}
/* ..............................................
             contact  section
...............................................*/
.contact {
  padding: 4rem 0;
  background-color: var(--light-white);
}

.contact .info li p a {
  font-size: 1rem;
  margin: 0.75rem 0;
  color: var(--black);
  display: inline-block;
}
.contact .form-group {
  margin-bottom: 1.75rem;
}
.contact .form-control {
  height: 3.175rem;
  padding: 0.375rem 1.1875rem;
  border: none;
  box-shadow: 0 0.175rem 1.25rem 0 rgba(0 0 0 /12%);
  font-size: 1rem;
  margin-top: 0.3125rem;
}
.contact .textarea {
  width: 100%;
  border: none;
  font-size: 1rem;
  box-shadow: 0 0.175rem 1.25rem 0 rgba(0 0 0 /12%);
  padding: 0.75rem 1.1875rem;
  margin-top: 0.3125rem;
  border-radius: 0.25rem;
}
.contact .textarea:focus {
  outline: none;
  border: none;
}
/* ..............................................
             footer  section
...............................................*/
.copyright {
  background-color: var(--red);
}
.copyright p,
.copyright a {
  color: var(--white);
  font-size: 1rem;
}
/* ..............................................
             scroll to top  section
...............................................*/
#scrolltop {
  position: fixed;
  right: 2%;
  bottom: 3%;
  border-radius: 0.275rem;
  background-color: var(--red);
  height: 2.875rem;
  width: 2.575rem;
  text-align: center;
  cursor: pointer;
  z-index: 500;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  display: none;
}
#scrolltop span {
  color: var(--white);
  line-height: 2.625rem;
}
#scrolltop.scrollactive {
  display: block;
}
